.home-header {
  background-image: url('https://assets.entrepreneur.com/content/3x2/2000/20180507200150-GettyImages-639336736.jpeg');
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 800px;
  text-align: center;
}

.home-title {
  padding-top: 15%;
  color: white;
  font-size: 5em;
}

.go-button {
  margin-top: 30px;
  background-color: orange;
  width: 200px;
  color: white;
}
