.wrap{
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-container {
  padding: 0;
  margin-top: 50px;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-button-div {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.go-button-enabled {
  color: white;
  background-color: dodgerblue;
}

.go-button-disabled {
  color: white;
  background-color: grey;
}
