
.flex-item {
  background: tomato;
  padding: 5px;
  width: 180px;
  height: 180px;
  margin: 10px;

  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.flex-item mat-card-content{
  padding-top:30px;
}
